* {
  font-family: 'Montserrat', sans-serif;
}

.barra {
 background-color: hsl(215, 20%, 82%);
}

.main {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
/* Footer */
.fcolor {
  background-color: hsl(175, 15%, 80%);
}

.colorfb {
  color: #3b5998;
}

.colortw {
  color: #4a78f6;
}

.colorig {
  color: #ac2bac;
}

/*Footer efectos hover*/
.colorfb:hover {
  color: #0065fd;
}

.colortw:hover {
  color: #4aa9f6;
}

.colorig:hover {
  color: #ed38ed;
}
