* {
  font-family: 'Montserrat', sans-serif;
}

.fondohome {
  background-color: #3b5998; 
  min-height: 100vh;
  background-position: center;
  background-size: cover; 
} 


.botoncitojt{
  text-align: center;
}

.shadou {
  text-shadow:0 0 5px #000000 ;
}

/* Footer */
.colorfb {
  color: #3b5998;
}

.colortw {
  color: #4a78f6;
}

.colorig {
  color: #ac2bac;
}

/*Footer efectos hover*/
.colorfb:hover {
  color: #0065fd;
}

.colortw:hover {
  color: #4aa9f6;
}

.colorig:hover {
  color: #ed38ed;
}
