* {
  font-family: 'Montserrat', sans-serif;
}

/* .video-div1{
  max-width: 100vw;
}
#video-text {
  position: relative;
  overflow: hidden;
} */
.intro {
  display: table;
  padding: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

} 
video {
  top: 0;
  left: 0;

}
.videointro {
  width: 100vw;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

header .intro-text {
  /* padding-bottom: 150px; */
  text-align: center;
}

.botoncitojt{
  position: relative;
  background: rgba(0, 0, 0, 0.2);
}

.shadou {
  text-shadow:0 0 5px #000000 ;
}

/* Footer */
.colorfb {
  color: #3b5998;
}

.colortw {
  color: #4a78f6;
}

.colorig {
  color: #ac2bac;
}

/*Footer efectos hover*/
.colorfb:hover {
  color: #0065fd;
}

.colortw:hover {
  color: #4aa9f6;
}

.colorig:hover {
  color: #ed38ed;
}
